[Desktop Entry]
Name=Game Mode
Name[it_IT]=Modalità Gioco
Comment=Switch to Gamescope/Steam Deck UI session
Comment[it_IT]=Passa alla sessione Gamescope (Steam Deck UI)
Exec=/usr/local/bin/steamos-session-select gamescope-session-steam
Icon=steam
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;
